<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_76"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MachambaApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.admin.views.CreateFormPergunta"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.CreateFormResposta"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.CreateForm"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdatePosto"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdateComunidade"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdateLocalidade"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdateEtnia"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdateUserPL"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdateCultura"
            android:exported="false" />
        <activity
            android:name=".model.update.UpdateDistrito"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddPosto"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddComunidade"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddLocalidade"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddEtnia"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddDistrito"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddCultura"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityViewPostoAdmnistrativo"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityViewComunidade"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityViewEtnia"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityViewLocalidade"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityViewDistrito"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityViewAddCultura"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityCulturaAdmin"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityUserPL"
            android:exported="false" />
        <activity
            android:name=".ui.admin.views.ActivityUserAdmin"
            android:exported="false" />
        <activity
            android:name=".ActivitySelectCultura"
            android:exported="false" />
        <activity
            android:name=".ActivitySelectClient"
            android:exported="false" />
        <activity
            android:name=".ui.admin.addforms.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityListClient"
            android:exported="false" />
        <activity
            android:name=".ActivitySelectVisit"
            android:exported="false" />
        <activity android:name=".ActivitySelect" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityChooseAction"
            android:exported="false" />
        <activity
            android:name=".ActivityUserRegister"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".ActivityPageStart"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MachambaApp.NoActionBar" />
    </application>

</manifest>